# Ignore everything in the root
/*
/.env
/scratchpad
/reviews
# Un-ignore these files - it's bit of a clonky way to do it but it's more secure
!Dockerfile
!docker-compose.yml
!README.md
!.env.example
!.gitignore
!app.go
!reviews.go
!bouncer.go
!handlers.go
!misc.go
!routes.go
!models.go
!database.go
!middleware.go
!api_test.go
!api_test_fixtures_test.go
!go.mod
!go.sum
!.github/workflows/unit-tests.yml
!.github/workflows/post-merge-deployment.yml
